@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";

body {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  background-color: #101828;
}

.dice-3d {
  perspective: 600px;
  border-radius: 0.7rem;
  overflow: hidden;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.444);
}

.dice-cube {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  position: relative;
  background: #fff;
  border-radius: 0.7rem;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}

.dice-face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid rgb(59, 59, 59);
}

/* Position faces in 3D space */
.face-1 {
  transform: rotateY(0deg) translateZ(1.5rem);
}
.face-2 {
  transform: rotateY(90deg) translateZ(1.5rem);
}
.face-3 {
  transform: rotateY(180deg) translateZ(1.5rem);
}
.face-4 {
  transform: rotateY(-90deg) translateZ(1.5rem);
}
.face-5 {
  transform: rotateX(90deg) translateZ(1.5rem);
}
.face-6 {
  transform: rotateX(-90deg) translateZ(1.5rem);
}
