@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";

body {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  background-color: #101828;
}
